<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">home</a></li>
<li><a href="/about">about</a></li>
<li><a href="/blog">notablog</a></li>
<li><a href="/cv">contact</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
<hr>
   <ul>
   <li><a href="mailto:adevraj@rgu.ac">email</a></li>
   <li><a href="https://x.com/aydevraj">twitter</a></li>
   <li><a href="https://linkedin.com/aydevraj">linkedin</a></li>        
        
   </ul>
  </footer>
  </body>

</html>
